In [1]:
# Importing necessary liberaries
import numpy as np
import pandas as pd
import seaborn as sns

## Perfoming EDA

In [2]:
data= pd.read_excel("OnlineRetail.xlsx")
data.sample(6)

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
115096,546107,22256,FELT FARM ANIMAL CHICKEN,1,2011-03-09 12:33:00,1.25,17238.0,United Kingdom
511342,579491,22094,RED RETROSPOT TISSUE BOX,2,2011-11-29 15:23:00,0.39,14723.0,United Kingdom
30841,538881,21124,SET/10 BLUE POLKADOT PARTY CANDLES,1,2010-12-14 15:54:00,2.51,NaN,United Kingdom
430239,573585,15039,SANDALWOOD FAN,15,2011-10-31 14:41:00,1.63,NaN,United Kingdom
41515,539859,21194,PINK HONEYCOMB PAPER FAN,15,2010-12-22 16:23:00,2.10,17905.0,United Kingdom
134449,547841,82482,WOODEN PICTURE FRAME WHITE FINISH,12,2011-03-27 11:02:00,2.55,16923.0,United Kingdom

In [3]:
# Removing negative values from Quantity column
data['Quantity']=data['Quantity'].abs()
data.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 541909 entries, 0 to 541908
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    541909 non-null  object
 1   StockCode    541909 non-null  object
 2   Description  540455 non-null  object
 3   Quantity     541909 non-null  int64
 4   InvoiceDate  541909 non-null  datetime64[ns]
 5   UnitPrice    541909 non-null  float64
 6   CustomerID   406829 non-null  float64
 7   Country      541909 non-null  object
dtypes: datetime64[ns](1), float64(2), int64(1), object(4)
memory usage: 33.1+ MB

In [5]:
data.isnull().sum()

InvoiceNo           0
StockCode           0
Description      1454
Quantity            0
InvoiceDate         0
UnitPrice           0
CustomerID     135080
Country             0
dtype: int64

In [6]:
data.duplicated().sum()

5268

In [7]:
data['Description'].value_counts().sort_values(ascending=False)

Description
WHITE HANGING HEART T-LIGHT HOLDER    2369
REGENCY CAKESTAND 3 TIER              2200
JUMBO BAG RED RETROSPOT               2159
PARTY BUNTING                         1727
LUNCH BAG RED RETROSPOT               1638
                                      ...
ANT SILVER TURQUOISE BOUDICCA RING       1
wrongly marked carton 22804              1
FUNKY MONKEY MUG                         1
SET OF 6 EASTER RAINBOW CHICKS           1
SET OF 3 PINK FLYING DUCKS               1
Name: count, Length: 4211, dtype: int64

In [8]:
data['Country'].value_counts()

Country
United Kingdom          495478
Germany                   9495
France                    8557
EIRE                      8196
Spain                     2533
Netherlands               2371
Belgium                   2069
Switzerland               2002
Portugal                  1519
Australia                 1259
Norway                    1086
Italy                      803
Channel Islands            758
Finland                    695
Cyprus                     622
Sweden                     462
Unspecified                446
Austria                    401
Denmark                    389
Japan                      358
Poland                     341
Israel                     297
USA                        291
Hong Kong                  288
Singapore                  229
Iceland                    182
Canada                     151
Greece                     146
Malta                      127
United Arab Emirates        68
European Community          61
RSA                         58
Lebanon                     45
Lithuania                   35
Brazil                      32
Czech Republic              30
Bahrain                     19
Saudi Arabia                10
Name: count, dtype: int64

In [9]:
data['Country'].unique

<bound method Series.unique of 0         United Kingdom
1         United Kingdom
2         United Kingdom
3         United Kingdom
4         United Kingdom
               ...
541904            France
541905            France
541906            France
541907            France
541908            France
Name: Country, Length: 541909, dtype: object>

## Finding globally popular products

In [15]:
# Slicing the orignal data.
Globally = data.loc[ :,['StockCode','Description','Quantity','Country','CustomerID','UnitPrice']]
Globally.head()

,StockCode,Description,Quantity,Country,CustomerID,UnitPrice
0,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,United Kingdom,17850.0,2.55
1,71053,WHITE METAL LANTERN,6,United Kingdom,17850.0,3.39
2,84406B,CREAM CUPID HEARTS COAT HANGER,8,United Kingdom,17850.0,2.75
3,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,United Kingdom,17850.0,3.39
4,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,United Kingdom,17850.0,3.39

In [16]:
# Sorting the data in decreasing number of quantity to find the products with maximum quantity

product_quantity = Globally.groupby('StockCode')['Quantity'].sum().reset_index().sort_values("Quantity",ascending=False)
product_quantity

     StockCode  Quantity
2429     23843    161990
1983     23166    152527
1070     22197     57392
2622     84077     56247
3659    85099B     49593
...        ...       ...
3717    85179a         1
2589     79320         1
3737    85226A         1
3753    90000C         1
4069         m         1

[4070 rows x 2 columns]

In [17]:
Globally=Globally.sort_values('Quantity',ascending=False)
Globally

,StockCode,Description,Quantity,Country,CustomerID,UnitPrice
540422,23843,"PAPER CRAFT , LITTLE BIRDIE",80995,United Kingdom,16446.0,2.08
540421,23843,"PAPER CRAFT , LITTLE BIRDIE",80995,United Kingdom,16446.0,2.08
61619,23166,MEDIUM CERAMIC TOP STORAGE JAR,74215,United Kingdom,12346.0,1.04
61624,23166,MEDIUM CERAMIC TOP STORAGE JAR,74215,United Kingdom,12346.0,1.04
502122,84826,ASSTD DESIGN 3D PAPER STICKERS,12540,United Kingdom,13256.0,0.00
...,...,...,...,...,...,...
394157,22222,CAKE PLATE LOVEBIRD WHITE,1,United Kingdom,NaN,9.96
394158,22271,FELTCRAFT DOLL ROSIE,1,United Kingdom,NaN,5.79
394160,22312,OFFICE MUG WARMER POLKADOT,1,United Kingdom,NaN,5.79
394162,22338,STAR DECORATION PAINTED ZINC,1,United Kingdom,NaN,0.63
270954,22138,BAKING SET 9 PIECE RETROSPOT,1,United Kingdom,16764.0,4.95

In [18]:
Globally=Globally[Globally['Description'].notnull()]
Globally

,StockCode,Description,Quantity,Country,CustomerID,UnitPrice
540422,23843,"PAPER CRAFT , LITTLE BIRDIE",80995,United Kingdom,16446.0,2.08
540421,23843,"PAPER CRAFT , LITTLE BIRDIE",80995,United Kingdom,16446.0,2.08
61619,23166,MEDIUM CERAMIC TOP STORAGE JAR,74215,United Kingdom,12346.0,1.04
61624,23166,MEDIUM CERAMIC TOP STORAGE JAR,74215,United Kingdom,12346.0,1.04
502122,84826,ASSTD DESIGN 3D PAPER STICKERS,12540,United Kingdom,13256.0,0.00
...,...,...,...,...,...,...
394157,22222,CAKE PLATE LOVEBIRD WHITE,1,United Kingdom,NaN,9.96
394158,22271,FELTCRAFT DOLL ROSIE,1,United Kingdom,NaN,5.79
394160,22312,OFFICE MUG WARMER POLKADOT,1,United Kingdom,NaN,5.79
394162,22338,STAR DECORATION PAINTED ZINC,1,United Kingdom,NaN,0.63
270954,22138,BAKING SET 9 PIECE RETROSPOT,1,United Kingdom,16764.0,4.95

In [24]:
Globally_2=Globally.loc[ :,['StockCode','Description','UnitPrice']]
Globally_2

       StockCode                     Description  UnitPrice
540422     23843     PAPER CRAFT , LITTLE BIRDIE       2.08
540421     23843     PAPER CRAFT , LITTLE BIRDIE       2.08
61619      23166  MEDIUM CERAMIC TOP STORAGE JAR       1.04
61624      23166  MEDIUM CERAMIC TOP STORAGE JAR       1.04
502122     84826  ASSTD DESIGN 3D PAPER STICKERS       0.00
...          ...                             ...        ...
394157     22222       CAKE PLATE LOVEBIRD WHITE       9.96
394158     22271            FELTCRAFT DOLL ROSIE       5.79
394160     22312      OFFICE MUG WARMER POLKADOT       5.79
394162     22338    STAR DECORATION PAINTED ZINC       0.63
270954     22138    BAKING SET 9 PIECE RETROSPOT       4.95

[540455 rows x 3 columns]

# Defining function

In [72]:
# Defining a function to show the globally popular products.
def GPopular(n):
    print(Globally_2.head(n))

In [27]:
GProducts(50)

       StockCode                          Description  UnitPrice
540422     23843          PAPER CRAFT , LITTLE BIRDIE       2.08
540421     23843          PAPER CRAFT , LITTLE BIRDIE       2.08
61619      23166       MEDIUM CERAMIC TOP STORAGE JAR       1.04
61624      23166       MEDIUM CERAMIC TOP STORAGE JAR       1.04
502122     84826       ASSTD DESIGN 3D PAPER STICKERS       0.00
225530     23005         printing smudges/thrown away       0.00
225529     23005         printing smudges/thrown away       0.00
4287       84347  ROTATING SILVER ANGELS T-LIGHT HLDR       0.03
225528     23003         Printing smudges/thrown away       0.00
115818    72140F                           throw away       0.00
431381    79323W               Unsaleable, destroyed.       0.00
421632     84077    WORLD WAR 2 GLIDERS ASSTD DESIGNS       0.21
206121     22197                 SMALL POPCORN HOLDER       0.72
220843    85123A                                    ?       0.00
97432      22053                EMPIRE DESIGN ROSETTE       0.82
270885     18007  ESSENTIAL BALM 3.5g TIN IN ENVELOPE       0.06
160145     21108   FAIRY CAKE FLANNEL ASSORTED COLOUR       2.10
160546     21108   FAIRY CAKE FLANNEL ASSORTED COLOUR       2.10
52711      21108   FAIRY CAKE FLANNEL ASSORTED COLOUR       2.10
263885     23343                  came coded as 20713       0.00
263884     20713         wrongly marked. 23343 in box       0.00
115807     84988                                    ?       0.00
433788     16014          SMALL CHINESE STYLE SCISSOR       0.32
113580     84598                                check       0.00
375429     23270               incorrect stock entry.       0.00
291249     84879        ASSORTED COLOUR BIRD ORNAMENT       1.45
4945       84077    WORLD WAR 2 GLIDERS ASSTD DESIGNS       0.18
201149     21977   PACK OF 60 PINK PAISLEY CAKE CASES       0.42
431378   79323LP               Unsaleable, destroyed.       0.00
50849      22617                 mouldy, thrown away.       0.00
80742      84077    WORLD WAR 2 GLIDERS ASSTD DESIGNS       0.21
131399     72732               thrown away-can't sell       0.00
91772      18007  ESSENTIAL BALM 3.5g TIN IN ENVELOPE       0.06
421601     23084                   RABBIT NIGHT LIGHT       2.08
32671      22693   GROW A FLYTRAP OR SUNFLOWER IN TIN       0.94
87631      22693   GROW A FLYTRAP OR SUNFLOWER IN TIN       0.94
185113     23059                    Thrown away-rusty       0.00
125282     21967             PACK OF 12 SKULL TISSUES       0.25
437480     21915                RED  HARMONICA IN BOX       1.06
511421     23084                   RABBIT NIGHT LIGHT       1.79
431379    79323P               Unsaleable, destroyed.       0.00
311391     16014          SMALL CHINESE STYLE SCISSOR       0.32
160144     21175          GIN + TONIC DIET METAL SIGN       1.85
52710      21175          GIN + TONIC DIET METAL SIGN       1.85
160545     21175          GIN + TONIC DIET METAL SIGN       1.69
177702     16014          SMALL CHINESE STYLE SCISSOR       0.32
424310     22197                       POPCORN HOLDER       0.72
348317     23288            GREEN VINTAGE SPOT BEAKER       1.08
348318     23285             PINK VINTAGE SPOT BEAKER       1.08
160542    85123A   WHITE HANGING HEART T-LIGHT HOLDER       2.40

## Finding pupular data Country-wise

In [29]:
# Grouping data on the basis of country and stockcode column
Country_Product = data.groupby(['Country', 'StockCode'])
Country_Product.head(50)

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
...,...,...,...,...,...,...,...,...
541904,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,2011-12-09 12:50:00,0.85,12680.0,France
541905,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,2011-12-09 12:50:00,2.10,12680.0,France
541906,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,2011-12-09 12:50:00,4.15,12680.0,France
541907,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,2011-12-09 12:50:00,4.15,12680.0,France
541908,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,2011-12-09 12:50:00,4.95,12680.0,France

In [33]:
Country_Wise=Country_Product['Quantity'].sum().unstack()
Country_Wise

StockCode,10002,10080,10120,10125,10133,10134,10135,11001,15030,15034,...,M,PADS,POST,S,gift_0001_10,gift_0001_20,gift_0001_30,gift_0001_40,gift_0001_50,m
Country,,,,,,,,,,,,,,,,,,,,,
Australia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Austria,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,37.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Bahrain,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Belgium,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,278.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Brazil,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Canada,NaN,NaN,NaN,NaN,40.0,NaN,20.0,NaN,NaN,NaN,...,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Channel Islands,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Cyprus,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.0,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Czech Republic,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Denmark,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,43.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
EIRE,12.0,NaN,NaN,NaN,40.0,NaN,60.0,48.0,NaN,NaN,...,12.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
European Community,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,9.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Finland,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.0,NaN,99.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
France,372.0,NaN,10.0,470.0,NaN,NaN,10.0,16.0,NaN,NaN,...,30.0,NaN,847.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Germany,1.0,NaN,NaN,120.0,NaN,NaN,200.0,32.0,NaN,24.0,...,16.0,NaN,1124.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Greece,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,24.0,...,NaN,NaN,8.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Hong Kong,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,6.0,NaN,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Iceland,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Israel,NaN,NaN,NaN,NaN,20.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Italy,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.0,NaN,46.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Japan,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Lebanon,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Lithuania,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Malta,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,14.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Netherlands,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,480.0,NaN,107.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Norway,NaN,NaN,NaN,NaN,NaN,NaN,10.0,16.0,NaN,120.0,...,6.0,NaN,57.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Poland,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,9.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Portugal,NaN,NaN,NaN,NaN,20.0,NaN,NaN,16.0,NaN,NaN,...,15.0,NaN,97.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
RSA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Saudi Arabia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Singapore,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,14.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Spain,24.0,NaN,NaN,NaN,NaN,NaN,NaN,16.0,NaN,24.0,...,3.0,NaN,209.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Sweden,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.0,NaN,43.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Switzerland,12.0,NaN,NaN,20.0,10.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,107.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
USA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
United Arab Emirates,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
United Kingdom,621.0,495.0,183.0,686.0,2829.0,19.0,1932.0,1624.0,293.0,7784.0,...,10702.0,4.0,3504.0,63.0,39.0,20.0,37.0,3.0,4.0,1.0
Unspecified,NaN,NaN,NaN,NaN,NaN,NaN,NaN,32.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [34]:
# Popular products in each country
Country_Wise=Country_Wise.sort_values(by=list(Country_Wise),ascending=False)
Country_Wise

StockCode,10002,10080,10120,10125,10133,10134,10135,11001,15030,15034,...,M,PADS,POST,S,gift_0001_10,gift_0001_20,gift_0001_30,gift_0001_40,gift_0001_50,m
Country,,,,,,,,,,,,,,,,,,,,,
United Kingdom,621.0,495.0,183.0,686.0,2829.0,19.0,1932.0,1624.0,293.0,7784.0,...,10702.0,4.0,3504.0,63.0,39.0,20.0,37.0,3.0,4.0,1.0
France,372.0,NaN,10.0,470.0,NaN,NaN,10.0,16.0,NaN,NaN,...,30.0,NaN,847.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Spain,24.0,NaN,NaN,NaN,NaN,NaN,NaN,16.0,NaN,24.0,...,3.0,NaN,209.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Switzerland,12.0,NaN,NaN,20.0,10.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,107.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
EIRE,12.0,NaN,NaN,NaN,40.0,NaN,60.0,48.0,NaN,NaN,...,12.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Germany,1.0,NaN,NaN,120.0,NaN,NaN,200.0,32.0,NaN,24.0,...,16.0,NaN,1124.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Japan,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Canada,NaN,NaN,NaN,NaN,40.0,NaN,20.0,NaN,NaN,NaN,...,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Portugal,NaN,NaN,NaN,NaN,20.0,NaN,NaN,16.0,NaN,NaN,...,15.0,NaN,97.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Israel,NaN,NaN,NaN,NaN,20.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Norway,NaN,NaN,NaN,NaN,NaN,NaN,10.0,16.0,NaN,120.0,...,6.0,NaN,57.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Unspecified,NaN,NaN,NaN,NaN,NaN,NaN,NaN,32.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Greece,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,24.0,...,NaN,NaN,8.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Sweden,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.0,NaN,43.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Australia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Italy,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.0,NaN,46.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Denmark,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,43.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Netherlands,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,480.0,NaN,107.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Belgium,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,278.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Iceland,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Poland,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,9.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Hong Kong,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,6.0,NaN,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Cyprus,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.0,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Austria,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,37.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
USA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Finland,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.0,NaN,99.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
RSA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Lithuania,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Brazil,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Singapore,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,14.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Channel Islands,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Saudi Arabia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
United Arab Emirates,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Czech Republic,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Malta,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,14.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
European Community,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,9.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Lebanon,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Bahrain,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [37]:
# Now we take only top 50 products of each country
Top_products_of_Countries=Country_Wise.head(30)
Top_products_of_Countries

StockCode,10002,10080,10120,10125,10133,10134,10135,11001,15030,15034,...,M,PADS,POST,S,gift_0001_10,gift_0001_20,gift_0001_30,gift_0001_40,gift_0001_50,m
Country,,,,,,,,,,,,,,,,,,,,,
United Kingdom,621.0,495.0,183.0,686.0,2829.0,19.0,1932.0,1624.0,293.0,7784.0,...,10702.0,4.0,3504.0,63.0,39.0,20.0,37.0,3.0,4.0,1.0
France,372.0,NaN,10.0,470.0,NaN,NaN,10.0,16.0,NaN,NaN,...,30.0,NaN,847.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Spain,24.0,NaN,NaN,NaN,NaN,NaN,NaN,16.0,NaN,24.0,...,3.0,NaN,209.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Switzerland,12.0,NaN,NaN,20.0,10.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,107.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
EIRE,12.0,NaN,NaN,NaN,40.0,NaN,60.0,48.0,NaN,NaN,...,12.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Germany,1.0,NaN,NaN,120.0,NaN,NaN,200.0,32.0,NaN,24.0,...,16.0,NaN,1124.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Japan,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Canada,NaN,NaN,NaN,NaN,40.0,NaN,20.0,NaN,NaN,NaN,...,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Portugal,NaN,NaN,NaN,NaN,20.0,NaN,NaN,16.0,NaN,NaN,...,15.0,NaN,97.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Israel,NaN,NaN,NaN,NaN,20.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Norway,NaN,NaN,NaN,NaN,NaN,NaN,10.0,16.0,NaN,120.0,...,6.0,NaN,57.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Unspecified,NaN,NaN,NaN,NaN,NaN,NaN,NaN,32.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Greece,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,24.0,...,NaN,NaN,8.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Sweden,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.0,NaN,43.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Australia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Italy,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.0,NaN,46.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Denmark,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,43.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Netherlands,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,480.0,NaN,107.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Belgium,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,278.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Iceland,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Poland,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,9.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Hong Kong,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,6.0,NaN,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Cyprus,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.0,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Austria,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,37.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
USA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Finland,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.0,NaN,99.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
RSA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Lithuania,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Brazil,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Singapore,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,14.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## Defining Function

In [70]:
# Defining a function to print the popular products of particular countries
def CPopular(Country,n): # Taking name of country and top n number from user
    top_products=Globally[Globally['Country']==Country] # Fetching data of only that particular country
    top_products=top_products.sort_values(by="Quantity",ascending=False) # Sorting data in increasing order of quantity
    top_products = top_products.drop(columns = ["Quantity",'CustomerID']) # Removing unnecessary columns 
    print(top_products.head(n)) # Printing the required output

## Month-Wise Finding the popular products

In [39]:
# To find the popular products per month first we filter the data as monthly 
data['InvoiceDate'] = pd.to_datetime(data['InvoiceDate']).dt.month_name()
data

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,December,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,December,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,December,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,December,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,December,3.39,17850.0,United Kingdom
...,...,...,...,...,...,...,...,...
541904,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,December,0.85,12680.0,France
541905,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,December,2.10,12680.0,France
541906,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,December,4.15,12680.0,France
541907,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,December,4.15,12680.0,France
541908,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,December,4.95,12680.0,France

In [40]:
filtered=data[data['Description'].notnull()]
filtered

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,December,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,December,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,December,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,December,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,December,3.39,17850.0,United Kingdom
...,...,...,...,...,...,...,...,...
541904,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,December,0.85,12680.0,France
541905,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,December,2.10,12680.0,France
541906,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,December,4.15,12680.0,France
541907,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,December,4.15,12680.0,France
541908,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,December,4.95,12680.0,France

In [41]:
# Removing unnecessary columns
del(filtered['InvoiceNo'])
filtered

,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,December,2.55,17850.0,United Kingdom
1,71053,WHITE METAL LANTERN,6,December,3.39,17850.0,United Kingdom
2,84406B,CREAM CUPID HEARTS COAT HANGER,8,December,2.75,17850.0,United Kingdom
3,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,December,3.39,17850.0,United Kingdom
4,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,December,3.39,17850.0,United Kingdom
...,...,...,...,...,...,...,...
541904,22613,PACK OF 20 SPACEBOY NAPKINS,12,December,0.85,12680.0,France
541905,22899,CHILDREN'S APRON DOLLY GIRL,6,December,2.10,12680.0,France
541906,23254,CHILDRENS CUTLERY DOLLY GIRL,4,December,4.15,12680.0,France
541907,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,December,4.15,12680.0,France
541908,22138,BAKING SET 9 PIECE RETROSPOT,3,December,4.95,12680.0,France

In [42]:
filtered =filtered.rename(columns={'InvoiceDate': 'Month'})
filtered

,StockCode,Description,Quantity,Month,UnitPrice,CustomerID,Country
0,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,December,2.55,17850.0,United Kingdom
1,71053,WHITE METAL LANTERN,6,December,3.39,17850.0,United Kingdom
2,84406B,CREAM CUPID HEARTS COAT HANGER,8,December,2.75,17850.0,United Kingdom
3,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,December,3.39,17850.0,United Kingdom
4,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,December,3.39,17850.0,United Kingdom
...,...,...,...,...,...,...,...
541904,22613,PACK OF 20 SPACEBOY NAPKINS,12,December,0.85,12680.0,France
541905,22899,CHILDREN'S APRON DOLLY GIRL,6,December,2.10,12680.0,France
541906,23254,CHILDRENS CUTLERY DOLLY GIRL,4,December,4.15,12680.0,France
541907,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,December,4.15,12680.0,France
541908,22138,BAKING SET 9 PIECE RETROSPOT,3,December,4.95,12680.0,France

In [43]:
# Grouping data monthly
Monthly = filtered.groupby(['Month', 'StockCode'])
Monthly.head()

,StockCode,Description,Quantity,Month,UnitPrice,CustomerID,Country
0,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,December,2.55,17850.0,United Kingdom
1,71053,WHITE METAL LANTERN,6,December,3.39,17850.0,United Kingdom
2,84406B,CREAM CUPID HEARTS COAT HANGER,8,December,2.75,17850.0,United Kingdom
3,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,December,3.39,17850.0,United Kingdom
4,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,December,3.39,17850.0,United Kingdom
...,...,...,...,...,...,...,...
541749,44234,ASSORTED CIRCULAR MOBILE,1,December,0.21,15311.0,United Kingdom
541789,23037,CANDLE HOLDER SILVER MADELINE,12,December,1.65,12713.0,Germany
541790,23550,WRAP ALPHABET POSTER,25,December,0.42,12713.0,Germany
541791,22711,WRAP CIRCUS PARADE,25,December,0.42,12713.0,Germany
541797,23515,EMBROIDERED RIBBON REEL DAISY,6,December,2.08,12713.0,Germany

In [44]:
# Calculate total quantity sold per product for each month
sold_unit = Monthly['Quantity'].sum().unstack()
sold_unit

StockCode,10002,10080,10120,10125,10133,10135,11001,15030,15034,15036,...,M,PADS,POST,S,gift_0001_10,gift_0001_20,gift_0001_30,gift_0001_40,gift_0001_50,m
Month,,,,,,,,,,,,,,,,,,,,,
April,189.0,NaN,NaN,82.0,76.0,30.0,36.0,NaN,541.0,1966.0,...,134.0,1.0,147.0,1.0,1.0,3.0,NaN,1.0,NaN,NaN
August,NaN,60.0,35.0,85.0,763.0,152.0,679.0,2.0,246.0,1427.0,...,681.0,NaN,251.0,5.0,3.0,1.0,2.0,NaN,NaN,NaN
December,251.0,NaN,22.0,180.0,130.0,480.0,97.0,2.0,47.0,278.0,...,1054.0,NaN,352.0,2.0,1.0,NaN,NaN,1.0,1.0,1.0
February,52.0,2.0,30.0,NaN,39.0,272.0,26.0,NaN,80.0,2260.0,...,305.0,NaN,162.0,28.0,NaN,1.0,2.0,NaN,NaN,NaN
January,340.0,NaN,NaN,213.0,180.0,613.0,33.0,NaN,177.0,1577.0,...,87.0,NaN,260.0,NaN,NaN,2.0,1.0,NaN,NaN,NaN
July,NaN,24.0,5.0,177.0,840.0,177.0,236.0,89.0,212.0,3582.0,...,170.0,1.0,214.0,NaN,NaN,NaN,NaN,1.0,NaN,NaN
June,NaN,60.0,NaN,15.0,526.0,55.0,201.0,10.0,1621.0,3346.0,...,69.0,NaN,250.0,7.0,1.0,12.0,NaN,NaN,2.0,NaN
March,28.0,NaN,29.0,114.0,83.0,118.0,52.0,5.0,123.0,3104.0,...,408.0,NaN,252.0,2.0,1.0,NaN,NaN,NaN,NaN,NaN
May,NaN,NaN,3.0,107.0,33.0,13.0,96.0,NaN,827.0,4684.0,...,1494.0,NaN,259.0,10.0,2.0,NaN,1.0,NaN,1.0,NaN
November,NaN,113.0,49.0,62.0,82.0,181.0,129.0,22.0,573.0,604.0,...,4129.0,NaN,493.0,3.0,NaN,NaN,NaN,NaN,NaN,NaN
October,NaN,6.0,10.0,51.0,NaN,71.0,118.0,10.0,2991.0,1255.0,...,1920.0,NaN,368.0,5.0,NaN,1.0,NaN,NaN,NaN,NaN
September,NaN,60.0,10.0,210.0,207.0,70.0,97.0,3.0,538.0,487.0,...,845.0,2.0,289.0,NaN,NaN,NaN,1.0,NaN,NaN,NaN

In [61]:
# Sort products within each month by total quantity sold (descending)
sold_unit = sold_unit.sort_values(by=list(sold_unit), ascending=False)
sold_unit

StockCode,10002,10080,10120,10125,10133,10135,11001,15030,15034,15036,...,M,PADS,POST,S,gift_0001_10,gift_0001_20,gift_0001_30,gift_0001_40,gift_0001_50,m
Month,,,,,,,,,,,,,,,,,,,,,
January,340.0,NaN,NaN,213.0,180.0,613.0,33.0,NaN,177.0,1577.0,...,87.0,NaN,260.0,NaN,NaN,2.0,1.0,NaN,NaN,NaN
December,251.0,NaN,22.0,180.0,130.0,480.0,97.0,2.0,47.0,278.0,...,1054.0,NaN,352.0,2.0,1.0,NaN,NaN,1.0,1.0,1.0
April,189.0,NaN,NaN,82.0,76.0,30.0,36.0,NaN,541.0,1966.0,...,134.0,1.0,147.0,1.0,1.0,3.0,NaN,1.0,NaN,NaN
February,52.0,2.0,30.0,NaN,39.0,272.0,26.0,NaN,80.0,2260.0,...,305.0,NaN,162.0,28.0,NaN,1.0,2.0,NaN,NaN,NaN
March,28.0,NaN,29.0,114.0,83.0,118.0,52.0,5.0,123.0,3104.0,...,408.0,NaN,252.0,2.0,1.0,NaN,NaN,NaN,NaN,NaN
November,NaN,113.0,49.0,62.0,82.0,181.0,129.0,22.0,573.0,604.0,...,4129.0,NaN,493.0,3.0,NaN,NaN,NaN,NaN,NaN,NaN
August,NaN,60.0,35.0,85.0,763.0,152.0,679.0,2.0,246.0,1427.0,...,681.0,NaN,251.0,5.0,3.0,1.0,2.0,NaN,NaN,NaN
September,NaN,60.0,10.0,210.0,207.0,70.0,97.0,3.0,538.0,487.0,...,845.0,2.0,289.0,NaN,NaN,NaN,1.0,NaN,NaN,NaN
June,NaN,60.0,NaN,15.0,526.0,55.0,201.0,10.0,1621.0,3346.0,...,69.0,NaN,250.0,7.0,1.0,12.0,NaN,NaN,2.0,NaN
July,NaN,24.0,5.0,177.0,840.0,177.0,236.0,89.0,212.0,3582.0,...,170.0,1.0,214.0,NaN,NaN,NaN,NaN,1.0,NaN,NaN
October,NaN,6.0,10.0,51.0,NaN,71.0,118.0,10.0,2991.0,1255.0,...,1920.0,NaN,368.0,5.0,NaN,1.0,NaN,NaN,NaN,NaN
May,NaN,NaN,3.0,107.0,33.0,13.0,96.0,NaN,827.0,4684.0,...,1494.0,NaN,259.0,10.0,2.0,NaN,1.0,NaN,1.0,NaN

In [62]:
# Printing top monthly products
print(sold_unit.head(30))

StockCode  10002  10080  10120  10125  10133  10135  11001  15030   15034  \
Month
January    340.0    NaN    NaN  213.0  180.0  613.0   33.0    NaN   177.0
December   251.0    NaN   22.0  180.0  130.0  480.0   97.0    2.0    47.0
April      189.0    NaN    NaN   82.0   76.0   30.0   36.0    NaN   541.0
February    52.0    2.0   30.0    NaN   39.0  272.0   26.0    NaN    80.0
March       28.0    NaN   29.0  114.0   83.0  118.0   52.0    5.0   123.0
November     NaN  113.0   49.0   62.0   82.0  181.0  129.0   22.0   573.0
August       NaN   60.0   35.0   85.0  763.0  152.0  679.0    2.0   246.0
September    NaN   60.0   10.0  210.0  207.0   70.0   97.0    3.0   538.0
June         NaN   60.0    NaN   15.0  526.0   55.0  201.0   10.0  1621.0
July         NaN   24.0    5.0  177.0  840.0  177.0  236.0   89.0   212.0
October      NaN    6.0   10.0   51.0    NaN   71.0  118.0   10.0  2991.0
May          NaN    NaN    3.0  107.0   33.0   13.0   96.0    NaN   827.0

StockCode   15036  ...       M  PADS   POST     S  gift_0001_10  gift_0001_20  \
Month              ...
January    1577.0  ...    87.0   NaN  260.0   NaN           NaN           2.0
December    278.0  ...  1054.0   NaN  352.0   2.0           1.0           NaN
April      1966.0  ...   134.0   1.0  147.0   1.0           1.0           3.0
February   2260.0  ...   305.0   NaN  162.0  28.0           NaN           1.0
March      3104.0  ...   408.0   NaN  252.0   2.0           1.0           NaN
November    604.0  ...  4129.0   NaN  493.0   3.0           NaN           NaN
August     1427.0  ...   681.0   NaN  251.0   5.0           3.0           1.0
September   487.0  ...   845.0   2.0  289.0   NaN           NaN           NaN
June       3346.0  ...    69.0   NaN  250.0   7.0           1.0          12.0
July       3582.0  ...   170.0   1.0  214.0   NaN           NaN           NaN
October    1255.0  ...  1920.0   NaN  368.0   5.0           NaN           1.0
May        4684.0  ...  1494.0   NaN  259.0  10.0           2.0           NaN

StockCode  gift_0001_30  gift_0001_40  gift_0001_50    m
Month
January             1.0           NaN           NaN  NaN
December            NaN           1.0           1.0  1.0
April               NaN           1.0           NaN  NaN
February            2.0           NaN           NaN  NaN
March               NaN           NaN           NaN  NaN
November            NaN           NaN           NaN  NaN
August              2.0           NaN           NaN  NaN
September           1.0           NaN           NaN  NaN
June                NaN           NaN           2.0  NaN
July                NaN           1.0           NaN  NaN
October             NaN           NaN           NaN  NaN
May                 1.0           NaN           1.0  NaN

[12 rows x 3958 columns]

## Defining Function

In [68]:
def MPopular(month,n): # Defining parameters of function
    Monthly_Popular=filtered[filtered['Month'] == month]  # Filtering data according to parameters
    Monthly_Popular=Monthly_Popular.sort_values(by='Quantity',ascending=False)   # Sorting data in decreasing order of Quantity
    Monthly_Popular = Monthly_Popular.drop(columns = ["CustomerID",'Country','Quantity'])   # Removing unnecessary columns
    print(Monthly_Popular.head(n))   # Returning the desired output

## Final popular products on the basis of globally, monthly and country-wise

In [73]:
# Finding products which are Globally popular
# supose we want to find top 500 products 
GPopular(500)

       StockCode                        Description  UnitPrice
540422     23843        PAPER CRAFT , LITTLE BIRDIE       2.08
540421     23843        PAPER CRAFT , LITTLE BIRDIE       2.08
61619      23166     MEDIUM CERAMIC TOP STORAGE JAR       1.04
61624      23166     MEDIUM CERAMIC TOP STORAGE JAR       1.04
502122     84826     ASSTD DESIGN 3D PAPER STICKERS       0.00
...          ...                                ...        ...
34370      84077  WORLD WAR 2 GLIDERS ASSTD DESIGNS       0.29
454094     22492             MINI PAINT SET VINTAGE       0.55
111536     84077  WORLD WAR 2 GLIDERS ASSTD DESIGNS       0.21
244423     23171            REGENCY TEA PLATE GREEN       1.45
202154     22700           BLACK AND WHITE DOG BOWL       3.24

[500 rows x 3 columns]

In [71]:
# Lets find which products are popular in my own country 
# supose our country is Germany
CPopular(Country='United Kingdom',n=100)

       StockCode                          Description         Country  \
540422     23843          PAPER CRAFT , LITTLE BIRDIE  United Kingdom
540421     23843          PAPER CRAFT , LITTLE BIRDIE  United Kingdom
61619      23166       MEDIUM CERAMIC TOP STORAGE JAR  United Kingdom
61624      23166       MEDIUM CERAMIC TOP STORAGE JAR  United Kingdom
502122     84826       ASSTD DESIGN 3D PAPER STICKERS  United Kingdom
...          ...                                  ...             ...
160541    47556B  did  a credit  and did not tick ret  United Kingdom
203761    47566B  incorrectly credited C550456 see 47  United Kingdom
52771     47556B                  TEA TIME TEA TOWELS  United Kingdom
203751    47566B  incorrectly credited C550456 see 47  United Kingdom
160543    47556B                  TEA TIME TEA TOWELS  United Kingdom

        UnitPrice
540422       2.08
540421       2.08
61619        1.04
61624        1.04
502122       0.00
...           ...
160541       0.00
203761       0.00
52771        2.55
203751       0.00
160543       2.10

[100 rows x 4 columns]

In [69]:
# Suopose we want to find the popular products of current month
MPopular(month='July',n=500)

       StockCode                          Description Month  UnitPrice
270885     18007  ESSENTIAL BALM 3.5g TIN IN ENVELOPE  July       0.06
263884     20713         wrongly marked. 23343 in box  July       0.00
263885     23343                  came coded as 20713  July       0.00
282289     84568       GIRLS ALPHABET IRON ON PATCHES  July       0.17
253989     84992       72 SWEETHEART FAIRY CAKE CASES  July       0.40
...          ...                                  ...   ...        ...
257109     16045           POPART WOODEN PENCILS ASST  July       0.04
265916     23203            JUMBO BAG DOILEY PATTERNS  July       1.79
265917     23202               JUMBO BAG VINTAGE LEAF  July       1.79
265919     22386              JUMBO BAG PINK POLKADOT  July       1.79
264056    85099B              JUMBO BAG RED RETROSPOT  July       1.79

[500 rows x 4 columns]

In [78]:
# But, what if user want to search country and month popular data same time 
# so now we define a function that return the popular products of particular month and country
def C_M_Popular(country,month,n): # Defining parameters of functions
    popular_products=filtered[(filtered['Month'] == month) & (filtered['Country'] == country)]  # Filtering data according to parameters
    popular_products=popular_products.sort_values(by='Quantity',ascending=False)   # Sorting data in decreasing order of Quantity
    popular_products=popular_products.drop(columns = ["CustomerID",'Quantity'])    # Removing unnecessary columns
    print(popular_products.head(n))   # Returning the desired output

In [79]:
# products popular in particular month and country
C_M_Popular(country='United Kingdom',month='December',n=100)

       StockCode                          Description     Month  UnitPrice  \
540422     23843          PAPER CRAFT , LITTLE BIRDIE  December       2.08
540421     23843          PAPER CRAFT , LITTLE BIRDIE  December       2.08
4287       84347  ROTATING SILVER ANGELS T-LIGHT HLDR  December       0.03
4945       84077    WORLD WAR 2 GLIDERS ASSTD DESIGNS  December       0.18
32671      22693   GROW A FLYTRAP OR SUNFLOWER IN TIN  December       0.94
...          ...                                  ...       ...        ...
538505    46000S         POLYESTER FILLER PAD 40x40cm  December       0.00
34301      20733               GOLD MINI TAPE MEASURE  December       0.72
520731     22386              JUMBO BAG PINK POLKADOT  December       1.79
34291      20733               GOLD MINI TAPE MEASURE  December       0.72
32721      20733               GOLD MINI TAPE MEASURE  December       0.72

               Country
540422  United Kingdom
540421  United Kingdom
4287    United Kingdom
4945    United Kingdom
32671   United Kingdom
...                ...
538505  United Kingdom
34301   United Kingdom
520731  United Kingdom
34291   United Kingdom
32721   United Kingdom

[100 rows x 5 columns]